html {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("./assets/cool-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}

ul {
    list-style: none;
}